
{% extends 'employees\employee_base.html' %} 

{% block title %} Employee: All Customers {%endblock %}

{% block header %} List of {{list_name}} Customers {% endblock %}

{% block content%} 

    {% if user.is_authenticated %}
    <br>       
    
    {% else %}
    <p>You are at the Employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
    {% endif %}
    
    
    <div class="center-text">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Pick a Day
        </button>
        <ul class="dropdown-menu">
          <li><a href="{% url 'employees:all_customers' %}" class="dropdown-item">Show All</a></li>
          <li><a href="{% url 'employees:day_filter' 'Monday' %}" class="dropdown-item">Monday</a></li>
          <li><a href="{% url 'employees:day_filter' 'Tuesday' %}" class="dropdown-item">Tuesday</a></li>
          <li><a href="{% url 'employees:day_filter' 'Wednesday' %}" class="dropdown-item">Wednesday</a></li>
          <li><a href="{% url 'employees:day_filter' 'Thursday' %}" class="dropdown-item">Thursday</a></li>
          <li><a href="{% url 'employees:day_filter' 'Friday' %}" class="dropdown-item">Friday</a></li>
          <li><a href="{% url 'employees:day_filter' 'Saturday' %}" class="dropdown-item">Saturday</a></li>         

  
        </ul>
      </div>
<br> 
  <div class = "table-responsive-xl">  
  <table class="table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Zip code</th>
              <th>Pickup Day</th>
              <th>One-Time Pickup</th>
              <th>Suspend Start</th>
              <th>Suspend End</th>
              <th>Last PickUp</th>
              <th>Current Balance</th>
          </tr>
      </thead>
      <tbody>
    {% for customer in customers %}
      <tr>
          <td>{{customer.name}}</td>
          <td>{{customer.zip_code}}</td>
          <td>{{customer.weekly_pickup}}</td>
          <td>{{customer.one_time_pick_up}}</td>
          <td>{{customer.suspend_start}}</td>
          <td>{{customer.suspend_end}}</td>
          <td>{{customer.date_of_last_pickup}}</td>
          <td>{{customer.balance}}</td>
    
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock %}